header{
    top:100px;
    left:0px;
    width:100%;
    height:65px;
    background-color:black;
}

.topimage img{
    width:400px;
    height:100px:
}

body{font-family:"Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
}

h4{
    border-left:4px red solid;
    padding-left: 15px;

padding-top:5px;
padding-bottom:5px;
padding-left:15px;
width:500px;
font-size:20px;
}

form{margin:0 auto;
background-color:#fbfbfb;
border:3px #ebebeb solid;
border-radius:10px;

}

.kiji{
padding-left: 15px;
margin:0 auto;
background-color:#fbfbfb;
border:3px #ebebeb solid;
border-radius:10px;

}

form div{
	padding:15px;
}

.text,texteara,.dropdown{
	border:1px solid #dfdfdf;
	padding:5px;
	color:#999;
	background:#fff;
}

.submit{
	border:1px solid lightgray;
	padding:4px 10px;
	color:white;
	background-color:#bfbfbf;
	border-radius:5px;
	border-bottom: 2px solid gray;
}
.logo{
    float:left;
    width:100px;
    padding-left:0px;
    color:white;
    font-size:50px;
    line-height:100px;
}

header ul{
    float:left;
    line-height:40px;
}

header ul li{
    float:left;
    list-style:none;
    padding-right:100px;
    color:white;
    font-size:20px;
}

.maintext{
    font-size:20px;
    padding-bottom:20px;
}

h1{
    border-left:4px solid black;
    border-bottom:4px solid black;
    padding-left: 15px;
}

h2{
    border-bottom:3px dotted black;
}

h3{border-bottom:4px solid #ebebeb;}

h4{
    border-left:3px solid red;
}

.left{
    float:left;
    background-color:white;
    width:70%;
    margin-bottom:40px;
}


.right{
    float:right;
    width:30%;
}

ul{
    list-style-type:none;
}

footer{
    clear:left;
    width:100%;
    height:60px;
    bottom:0px;
    left:0px;
    color:white;
    background-color:black;
    text-align:center;
    line-height:60px;
}